@font-face {
  font-family: Bebas Neue;
  src: url(./assets/fonts/BebasNeue-Regular.eot) format('eot'),
  url(./assets/fonts/BebasNeue-Regular.ttf) format('truetype'),
  url(./assets/fonts/BebasNeue-Regular.woff2) format('woff2')
}

@font-face {
  font-family: PT Sans;
  src: url(./assets/fonts/PTSans-Regular.eot) format('eot'),
  url(./assets/fonts/PTSans-Regular.ttf) format('truetype'),
  url(./assets/fonts/PTSans-Regular.woff2) format('woff2')
}

@font-face {
  font-family: PT Sans Bold;
  src: url(./assets/fonts/PTSans-Bold.eot) format('eot'),
  url(./assets/fonts/PTSans-Bold.ttf) format('truetype'),
  url(./assets/fonts/PTSans-Bold.woff2) format('woff2')
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

